#middle-top {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

#middle-top h1 {
    font-size: 2.2rem;
}

#middle-top p {
    font-weight: bold;
    font-size: 1.1rem;
}

#middle-top a {
    text-decoration: none;
    color: var(--text-link);
    padding-left: 0.5rem;
}

#middle-main a {
    text-decoration: none;
    color: var(--text-link);
}

.sign-up-buttons {
    max-width: 100%;
    height: 3rem;
    display: grid;
    justify-content: stretch;
    grid-template-columns: auto 4rem 4rem;

}

.sign-up-buttons div {
    border: 3px solid var(--side-bg-color);
    border-radius: 8px;
    background-color: var(--side-bg-color);
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-buttons div:first-child {
    background-color: white;
    margin-left: 0;
}


#middle-main i {
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
}

#middle-main img {
    height: 1.5rem;
    width: 1.5rem;

}

.google-link span {
    display: inline-block;
    min-width: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

#middle-or {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    font-size: 1.2rem;
    color: var(--text-faded);
    letter-spacing: 0.7px;
}

section>form label {
    color: var(--text-faded);
    font-weight: bold;
    font-size: 1rem;
}


section>form input {
    width: 100%;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 3px var(--side-bg-color);
    margin-bottom: 2rem;
}

section>form input[type="checkbox"] {
    margin: 0;
    box-shadow: none;
    width: auto;
    margin-right: 1rem;
    float: left;
    margin-top: 0.15rem;
}

.password-input i {
    display: inline-block;
}

#password {
    background-image: url("/images/eye.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.strength-indicators {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

#password-strength {
    margin-bottom: 2rem;
}

#password-strength>p {
    font-weight: bold;
    color: black;
}

#password-strength span {
    width: 10vw;
    margin-right: 2px;
    min-height: 5px;
    display: inline-block;
    background-color: rgb(137, 197, 137);
}

#password-strength span:last-child {
    background-color: var(--side-bg-color);
}

form label {
    color: var(--text-faded);
}

#policies {
    color: var(--text-faded);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.inline-div {
    display: inline-block;
}

@media screen and (max-width:1276px) {
    .sign-up-buttons {}
}